body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.container {
    inline-size: 80%;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

label {
    text-align: center;
    color: Yellow;
    font-size: 40px;
    display: block;
    margin: 20px auto;
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 1px 1px 2px #000;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;


}

select {
    display: block;
    margin: 20px auto;
    padding: 10px;
    font-size: 16px;
}

table {
    inline-size: 100%;
    border-collapse: collapse;
    margin-block-start: 20px;
}

thead {
    background-color: #333;
    color: #fff;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

tbody tr:nth-child(even) {
    background-color: #ececec;
}

tbody tr:hover {
    background-color: aqua;
}
